body {
background-color:#CCCCCC;
color:#000000;
font-family: "Times New Roman";
}

/* unvisited link */
a:link {
    color: #0000EE;
}

/* visited link */
a:visited {
    color: #551A8B;
}

/* mouse over link */
a:hover {
    color: #007bff;
}

/* selected link */
a:active {
    color: #FF0000;
}

table {
    border-collapse: collapse;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #777;
}