/* See humans.html for full thanks */

body {
	max-width: 800px ;
	margin: auto ;
	background: #00181E url(redswirlbk.png);
	color:RED;
}

h1 {
	text-align: left ;
}

/* unvisited link */
a:link {
    color: #A17FFF;
}

/* visited link */
a:visited {
    color: #D67FFF;
}

/* mouse over link */
a:hover {
    color: #FF7FED;
}

/* selected link */
a:active {
    color: #FF7FB6;
}

/* What font to use */
h1, h2, h3, a, th, center {
	font-family: Ubuntu, "Noto Sans", "Liberation Sans", Helvetica, Arial, sans-serif;
}

pre, tt, xmp {
	font-family: Ubuntu, "Ubuntu Monospace", Courier;
}

p {
	font-family: Ubuntu, "Noto Sans", "Liberation Sans", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* The Following code has been written by Randy and has given his consent for me to use it */
/* I am unsure if the following code *can* even be copyrighted due to how generic it is */
blockquote {
	border-left: 0.1em solid #cc66ff; 
	padding-left: 0.3em; }