body {
background-color:#00181E;
color:#86C351;
}

/* unvisited link */
a:link {
    color: #F7ED00;
}

/* visited link */
a:visited {
    color: #F7ED00;
}

/* mouse over link */
a:hover {
    color: #F7ED00;
}

/* selected link */
a:active {
    color: #F7ED00;
}

table {
    border-collapse: collapse;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #7A0000;
}


/* While this part was cool, I decided to remove it due to accessibility reasons, but what it did was remove the underlines for links
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; } */

/* What font to use */
h1, h2, h3, a, th {
	font-family: Ubuntu, "Noto Sans", "Liberation Sans", Helvetica, Arial, sans-serif;
}

pre, tt, xmp {
font-family: monospace, "Ubuntu Monospace", Courier;
}

p, td {
	font-family: Ubuntu, "Noto Sans", "Liberation Sans", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* Thnak you to Job of joppiesaus.neocities.org for not only writing the following CSS, but also allowing me to use it */
/* Job has been a friend of mine for a few years now, and it would really make me happy if you checked out their website */
figure {
	display: block;
	margin: 0 auto;
	max-width: 95vw;
	border: 1px solid #999;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
	width: min-content;
	border-radius: 2px;
}
figure {
	float: right;
	max-width: 33vw;
	margin: 3px;
	margin-left: 5px;
	margin-right: 0;
}

/* The Following code has been written by Randy and has given his consent for me to use it */
/* I am unsure if the following code *can* even be copyrighted due to how generic it is */
blockquote {
	border-left: 0.1em solid #cc66ff; 
	padding-left: 0.3em; }

/* The following has been taken from the below URL */
/* https://learn2dev.com/articles/css-shorts/spoilers */
.spoiler-text {
  background: black;
  color: transparent;
  cursor: help;
  user-select: none;
  transition: background 0.3s ease 0.2s, color 0.2s ease 0.25s;
}

.spoiler-text:hover,
.spoiler-text:focus {
  background: #e8e8e8;
  color: inherit;
}

/* Following taken from /accessibility/#autoplay part of the website */
.flashing {
    -webkit-filter: blur(5px); /* For Safari 6.0 - 9.0 */
    filter: blur(5px);
}

.flashing:hover {
    -webkit-filter: none;
    filter: none;
}