body {
background: url(irc_bg.png);
background-color:#00181E;
color:#86C351;
}

/* unvisited link */
a:link {
    color: #F7ED00;
}

/* visited link */
a:visited {
    color: #FA00F8;
}

/* mouse over link */
a:hover {
    color: #B500FA;
}

pre,tt,br { margin:0 }

/* selected link */
a:active {
    color: #F7ED00;
}

table {
    border-collapse: collapse;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #7A0000;
}

/* What font to use */
h1, h2, h3, a, th {
	font-family: Ubuntu, "Noto Sans", "Liberation Sans", Helvetica, Arial, sans-serif;
}

pre, tt, xmp {
font-family: monospace, "Ubuntu Monospace", Courier;
}

p {
	font-family: Ubuntu, "Noto Sans", "Liberation Sans", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}